Repository softeerbootcamp-2nd/A3-OhMyCarSet, pull requests merged in 2023-08, with the labels that each got.

#80 [BE] repository 단위테스트 작성 (~SelectiveOption)
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/domain/DefaultOption.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/domain/selectiveOption/InternalDeviceOption/InternalDeviceOptionComponent.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/domain/selectiveOption/externalDeviceOption/ExternalDeviceOptionComponent.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/repository/InteriorColorRepository.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/repository/InteriorColorRepositoryImpl.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/repository/SelectiveOptionRepository.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/repository/SelectiveOptionRepositoryImpl.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/repository/TrimRepositoryImpl.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/service/SelectiveOptionService.java
  backend/ohmycarset/src/test/java/com/softeer2nd/ohmycarset/repository/CoreOptionRepositoryTest.java
  backend/ohmycarset/src/test/java/com/softeer2nd/ohmycarset/repository/DefaultCategoryRepositoryTest.java
  backend/ohmycarset/src/test/java/com/softeer2nd/ohmycarset/repository/DefaultOptionRepositoryTest.java
  backend/ohmycarset/src/test/java/com/softeer2nd/ohmycarset/repository/ExteriorColorRepositoryTest.java
  backend/ohmycarset/src/test/java/com/softeer2nd/ohmycarset/repository/InteriorColorRepositoryTest.java
  backend/ohmycarset/src/test/java/com/softeer2nd/ohmycarset/repository/SelectiveOptionRepositoryTest.java
  backend/ohmycarset/src/test/java/com/softeer2nd/ohmycarset/repository/TrimRepositoryTest.java
  backend/ohmycarset/src/test/resources/insert/insert_core_option.sql
  backend/ohmycarset/src/test/resources/insert/insert_default_category.sql
  backend/ohmycarset/src/test/resources/insert/insert_default_option.sql
  backend/ohmycarset/src/test/resources/insert/insert_trim.sql
  backend/ohmycarset/src/test/resources/insert/insert_trim_default_option_map.sql
  backend/ohmycarset/src/test/resources/insert/insert_trim_exterior_color_map.sql
  backend/ohmycarset/src/test/resources/insert/insert_trim_interior_color_map.sql
  backend/ohmycarset/src/test/resources/insert/selective/insert_body_option.sql
  backend/ohmycarset/src/test/resources/insert/selective/insert_exterior_color_option.sql
  backend/ohmycarset/src/test/resources/insert/selective/insert_external_device_option.sql
  backend/ohmycarset/src/test/resources/insert/selective/insert_external_device_option_component.sql
  backend/ohmycarset/src/test/resources/insert/selective/insert_interior_color_option.sql
  backend/ohmycarset/src/test/resources/insert/selective/insert_internal_device_option.sql
  backend/ohmycarset/src/test/resources/insert/selective/insert_internal_device_option_component.sql
  backend/ohmycarset/src/test/resources/insert/selective/insert_powertrain_option.sql
  backend/ohmycarset/src/test/resources/insert/selective/insert_system_option.sql
  backend/ohmycarset/src/test/resources/insert/selective/insert_system_option_component.sql
  backend/ohmycarset/src/test/resources/insert/selective/insert_temperature_option.sql
  backend/ohmycarset/src/test/resources/insert/selective/insert_temperature_option_component.sql
  backend/ohmycarset/src/test/resources/insert/selective/insert_wd_option.sql
  backend/ohmycarset/src/test/resources/insert/selective/insert_wheel_option.sql
  backend/ohmycarset/src/test/resources/schema.sql
Labels: Back-end, Test

#91 [BE] CORS 관련 최종 수정
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/config/WebConfig.java
Labels: 🐞 BugFix, Back-end

#94 [BE] fix: CORS localhost 오타 수정
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/config/WebConfig.java
Labels: 🐞 BugFix, Back-end

#97 [COMMON] refactor 이슈 템플릿 추가
  .github/ISSUE_TEMPLATE/⚒️-refactor.md
Labels: 📄 Docs

#102 [BE] 선택옵션 코드 리팩토링 및 엔드포인트 수정
  backend/ohmycarset/build.gradle
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/controller/SelectiveOptionController.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/domain/selective/OptionPackage.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/domain/selective/PackageComponent.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/domain/selective/RequiredOption.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/domain/selectiveOption/BodyOption.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/domain/selectiveOption/ExteriorColorOption.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/domain/selectiveOption/InteriorColorOption.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/domain/selectiveOption/InternalDeviceOption/InternalDeviceOption.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/domain/selectiveOption/InternalDeviceOption/InternalDeviceOptionComponent.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/domain/selectiveOption/PowerTrainOption.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/domain/selectiveOption/WDOption.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/domain/selectiveOption/WheelOption.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/domain/selectiveOption/externalDeviceOption/ExternalDeviceOption.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/domain/selectiveOption/externalDeviceOption/ExternalDeviceOptionComponent.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/domain/selectiveOption/systemOption/SystemOption.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/domain/selectiveOption/systemOption/SystemOptionComponent.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/domain/selectiveOption/temperatureOption/TemperatureOption.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/domain/selectiveOption/temperatureOption/TemperatureOptionComponent.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/dto/SelectiveOptionTagDto/SelectiveOptionTagDto.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/dto/selectiveOptionDto/OptionPackageDto.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/dto/selectiveOptionDto/PackageComponentDto.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/dto/selectiveOptionDto/RequiredOptionDto.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/dto/selectiveOptionDto/SelectiveOptionAdditionalComponentDto.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/dto/selectiveOptionDto/SelectiveOptionAdditionalDto.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/dto/selectiveOptionDto/SelectiveOptionDefaultDto.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/repository/InteriorColorRepositoryImpl.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/repository/SelectiveOptionRepository.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/repository/SelectiveOptionRepositoryImpl.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/service/SelectiveOptionService.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/service/TagService.java
  backend/ohmycarset/src/test/java/com/softeer2nd/ohmycarset/repository/SelectiveOptionRepositoryTest.java
  backend/ohmycarset/src/test/resources/schema.sql
Labels: Back-end, 🛠️ refactor

#108 feat: /car_dict 엔드포인트 구현
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/controller/CarDictController.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/domain/CarDict.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/dto/CarDictDto.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/repository/CarDictRepository.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/repository/CarDictRepositoryImpl.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/service/CarDictService.java
Labels: Back-end

#110 [BE] /tag/option_package/{packageName} 엔드포인트 구현
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/controller/TagController.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/domain/CoreOption.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/domain/DefaultCategory.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/domain/DefaultOption.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/domain/ExteriorColor.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/domain/InteriorColor.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/domain/PurchaseHistory.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/domain/Tag.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/domain/Trim.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/dto/CoreOptionDto.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/dto/DefaultOptionCategoryDto.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/dto/DefaultOptionDetailDto.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/dto/DefaultOptionDto.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/dto/ExteriorColorDto.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/dto/InteriorColorDto.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/dto/TrimDto.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/repository/PurchaseHistoryRepository.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/repository/PurchaseHistoryRepositoryImpl.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/service/TagService.java
Labels: Back-end, 🛠️ refactor

#111 [BE] swagger 문서 추가
  backend/ohmycarset/build.gradle
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/config/OpenApiConfig.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/controller/CarDictController.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/controller/CoreOptionController.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/controller/DefaultOptionController.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/controller/ExteriorColorController.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/controller/InteriorColorController.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/controller/SelectiveOptionController.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/controller/TagController.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/controller/TrimController.java
  backend/ohmycarset/src/main/resources/application.properties
Labels: Back-end, 📄 Docs

#116 [BE] https에서 swagger 오동작 해결
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/config/OpenApiConfig.java
Labels: 🐞 BugFix, Back-end

#117 [BE] 외장 색상 옵션 동적 피드백 멘트 수정
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/controller/SelectiveOptionController.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/controller/TagController.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/service/SelectiveOptionService.java
Labels: Back-end

#119 [BE] 태그 DTO 리팩터링
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/dto/SelectiveOptionTagDto/SelectiveOptionTagDto.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/dto/SelectiveOptionTagDto/TagDto.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/dto/UserInfoDto.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/repository/TagRepository.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/service/TagService.java
Labels: Back-end, 🛠️ refactor

#124 [BE] /selective_option/ 엔드포인트 가이드페이지용 mock 데이터(미정렬) 반환 로직 추가
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/controller/SelectiveOptionController.java
Labels: Back-end

#127 [BE] /selective_option/ 엔드포인트 오타 수정
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/controller/SelectiveOptionController.java
Labels: 🐞 BugFix, Back-end

#128 [BE] 셀프 모드 선택옵션 정렬 후 전달
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/service/SelectiveOptionService.java
Labels: Back-end

#131 [FE] 가이드 태그 선택 애니메이션, 옵션 id 수정
  Frontend/index.html
  Frontend/src/asset/data/guideDescriptionData.json
  Frontend/src/components/complete/CompleteMain/CompleteMain.style.tsx
  Frontend/src/components/guide-mode/GuideIndicator/GuideIndicator.style.tsx
  Frontend/src/components/guide-mode/GuideIndicator/GuideIndicator.tsx
  Frontend/src/components/guide-mode/GuideMainTag/GuideMainTag.style.tsx
  Frontend/src/components/guide-mode/GuideMainTag/GuideMainTag.tsx
  Frontend/src/components/guide-mode/GuideModeMain/GuideModeMain.tsx
  Frontend/src/components/guide-mode/GuideMultiTag/GuideMultiTag.style.tsx
  Frontend/src/components/guide-mode/GuideMultiTag/GuideMultiTag.tsx
  Frontend/src/components/guide-mode/GuideSingleTag/GuideSingleTag.style.tsx
  Frontend/src/components/guide-mode/GuideSingleTag/GuideSingleTag.tsx
  Frontend/src/components/self-mode/OptionItem/ShowMoreMulti/ShowMoreMulti.tsx
  Frontend/src/components/self-mode/SelfModeMain/Estimate/Estimate.tsx
  Frontend/src/components/self-mode/SelfModeMain/SelfModeMulti/SelfModeMulti.tsx
  Frontend/src/components/self-mode/SelfModeMain/SelfModeSingle/SelfModeSingle.tsx
  Frontend/src/contexts/CurrentPackageProvider.tsx
  Frontend/src/pages/GuideModepage/GuideModePage.tsx
  Frontend/src/style/global.ts
Labels: 🐞 BugFix, ☁️ Front-end

#133 [BE] /recommend 엔드포인트 구현
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/controller/RecommendController.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/dto/PurchaseCountDto.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/dto/RecommendDto.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/dto/selectiveOptionDto/PackageComponentDto.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/dto/selectiveOptionDto/RequiredOptionDto.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/repository/PurchaseHistoryRepository.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/repository/PurchaseHistoryRepositoryImpl.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/repository/SelectiveOptionRepository.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/repository/SelectiveOptionRepositoryImpl.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/service/SelectiveOptionService.java
Labels: Back-end, 🛠️ refactor

#158 [BE] 가이드모드 추천 패키지 없을시 발생하는 오류 해결
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/repository/SelectiveOptionRepositoryImpl.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/service/SelectiveOptionService.java
Labels: 🐞 BugFix, Back-end

#159 [BE] 기본포함품목에 설명을 추가합니다.
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/controller/SelectiveOptionController.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/domain/DefaultOption.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/dto/DefaultOptionDetailDto.java
Labels: Back-end

#161 [BE] 추천 부가옵션 유사유저 비율로 정렬
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/service/SelectiveOptionService.java
Labels: Back-end

#173 [BE] 캐시 적용 및 캐시 자동 동기화 적용
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/config/CacheUpdateConfig.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/config/CacheUpdateScheduleConfig.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/config/RedisConfig.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/controller/RecommendController.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/repository/PurchaseHistoryRepositoryImpl.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/service/SelectiveOptionService.java
Labels: Performance, Back-end

#176 [BE] 성별이 '선택 안함'일 때 /recommend 로직 수정
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/config/CacheUpdateConfig.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/config/CacheUpdateScheduleConfig.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/repository/PurchaseHistoryRepository.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/repository/PurchaseHistoryRepositoryImpl.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/service/SelectiveOptionService.java
Labels: Back-end

#186 [BE] 가이드모드 성별 [선택안함] 선택시 유사유저/구매비율 구하는 로직 구현
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/config/RedisConfig.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/repository/PurchaseHistoryRepository.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/repository/PurchaseHistoryRepositoryImpl.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/service/SelectiveOptionService.java
Labels: Back-end

#199 [BE] 가이드모드 외장색상 동적피드백 생성
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/service/SelectiveOptionService.java
Labels: Back-end

#200 [BE] 가이드모드 옵션상세페이지 추천옵션 외 나머지옵션 누락 해결
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/service/SelectiveOptionService.java
Labels: 🐞 BugFix, Back-end

#205 [BE] 테스트를 위해 Redis 설정 일부 수정(최초 스케줄링 대기시간 추가)
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/config/CacheUpdateScheduleConfig.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/config/RedisConfig.java
Labels: 🐞 BugFix, Back-end, Deploy

#208 [BE] Redis 계속 캐싱된 값으로만 다시 캐싱하는 버그 해결
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/config/CacheUpdateConfig.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/config/CacheUpdateScheduleConfig.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/repository/PurchaseHistoryRepository.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/repository/PurchaseHistoryRepositoryImpl.java
Labels: 🐞 BugFix, Back-end

#213 [BE] 쓰레드풀 이용, 캐싱시 DB 죽는 문제 해결
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/config/CacheUpdateScheduleConfig.java
Labels: Performance, Back-end

#215 [BE] 매일 오전 3시에 Cache Warming 작업 진행되도록 cron 작업으로 변경
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/config/CacheUpdateScheduleConfig.java
Labels: Back-end

#216 [COMMON] 인프라 이미지 추가
  README.md
Labels: 📄 Docs

#218 [BE] controller 테스트
  backend/ohmycarset/build.gradle
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/controller/CoreOptionController.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/controller/DefaultOptionController.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/controller/ExteriorColorController.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/controller/InteriorColorController.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/domain/CoreOption.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/domain/DefaultOption.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/domain/ExteriorColor.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/domain/InteriorColor.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/domain/Trim.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/dto/CoreOptionDto.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/dto/DefaultOptionDetailDto.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/dto/DefaultOptionDto.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/dto/ExteriorColorDto.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/dto/InteriorColorDto.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/service/CoreOptionService.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/service/DefaultOptionService.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/service/ExteriorColorService.java
  backend/ohmycarset/src/main/java/com/softeer2nd/ohmycarset/service/InteriorColorService.java
  backend/ohmycarset/src/test/java/com/softeer2nd/ohmycarset/controller/CoreOptionControllerTest.java
  backend/ohmycarset/src/test/java/com/softeer2nd/ohmycarset/controller/DefaultOptionControllerTest.java
  backend/ohmycarset/src/test/java/com/softeer2nd/ohmycarset/controller/ExteriorColorControllerTest.java
  backend/ohmycarset/src/test/java/com/softeer2nd/ohmycarset/controller/InteriorColorControllerTest.java
Labels: Back-end, Test
